body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
html,
body {
  font-family: Ubuntu, Consolas, "Microsoft YaHei", Verdana, Tahoma, Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #333333;
  background-color: #fbfbfb;
}
a {
  text-decoration: none;
  color: #0079bc;
}
a:hover {
  color: #005b9b;
}
p {
  margin-bottom: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 12px 0;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 19px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.vertical-middle {
  vertical-align: middle;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.fade-out {
  opacity: 0;
}
.hide {
  display: none !important;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.container960 {
  max-width: 960px;
  margin: auto;
}
.grid-1-2 {
  width: 50%;
}
.grid-1-3 {
  width: 33.3333%;
}
.grid-1-4 {
  width: 25%;
}
.grid-1-5 {
  width: 20%;
}
.grid-1-6 {
  width: 16.6666%;
}
.grid-2-3 {
  width: 66.6666%;
}
.grid-3-4 {
  width: 75%;
}
.grid-3-5 {
  width: 60%;
}
.grid-4-5 {
  width: 80%;
}
.grid-5-6 {
  width: 83.3333%;
}
input,
textarea,
select,
button {
  font-family: Ubuntu, Consolas, "Microsoft YaHei", Verdana, Tahoma, Arial, sans-serif;
}
.form legend {
  font-size: 18px;
  margin-bottom: 14px;
}
.form label {
  display: inline-block;
  margin-right: 12px;
}
.form .ipt {
  padding: 12px;
  border: 1px solid #999999;
  outline: none;
  min-width: 180px;
}
.form .ipt:focus {
  border-color: #0079bc;
  background-color: rgba(0, 121, 188, 0.002);
}
.form .chk {
  display: inline-block;
  margin: 2px 6px 0 0;
  line-height: normal;
}
.form .field {
  margin-bottom: 24px;
}
.form .invalid {
  margin-right: 12px;
}
.form .tip {
  font-size: 13px;
  color: #999999;
  margin-left: 12px;
}
.form-vertical label {
  display: block;
  margin-bottom: 8px;
}
.form-vertical .ipt {
  width: 100%;
  box-sizing: border-box;
}
.form-vertical .invalid {
  margin-right: 0;
  margin-top: 6px;
}
.form-align label {
  display: inline-block;
  min-width: 60px;
  text-align: right;
}
.form-align .invalid {
  margin-right: 0;
  margin-top: 6px;
}
.btn {
  min-width: 140px;
  height: 44px;
  background-color: #cccccc;
  color: #333333;
  outline: none;
  border: none;
  margin: 0;
  font-size: 1.1em;
}
.btn:hover {
  background-color: #999999;
  cursor: pointer;
}
a.btn {
  line-height: 36px;
  color: #ffffff;
}
.btn-red {
  background-color: #e64346;
  color: #fbfbfb;
}
.btn-red:hover {
  background-color: #c7383a;
}
.btn-blue {
  background-color: #0079bc;
  color: #fbfbfb;
}
.btn-blue:hover {
  background-color: #005b9b;
}
.btn-green {
  background-color: #7ab277;
  color: #fbfbfb;
}
.btn-green:hover {
  background-color: #649462;
}
.lbl {
  padding: 4px 12px;
  background-color: #cccccc;
  color: #333333;
}
.lbl-red {
  background-color: #e64346;
  color: #fbfbfb;
}
a.lbl {
  line-height: 26px;
}
a.lbl-red:hover {
  background-color: #c7383a;
  color: #fbfbfb;
}
.lbl-blue {
  background-color: #0079bc;
  color: #fbfbfb;
}
a.lbl-blue:hover {
  background-color: #005b9b;
  color: #fbfbfb;
}
.lbl-green {
  background-color: #7ab277;
  color: #fbfbfb;
}
a.lbl-green:hover {
  background-color: #649462;
  color: #fbfbfb;
}
.pager .item {
  padding: 2px 8px;
  margin: 0 6px;
  color: #333333;
  display: inline-block;
  line-height: 20px;
}
.pager .item a {
  color: #333333;
}
.pager .item:hover {
  background-color: #0079bc;
}
.pager .item:hover a {
  color: #ffffff;
}
.pager .current {
  background-color: #666666;
  color: #fbfbfb;
}
.pager .current a {
  color: #fbfbfb;
}
.pager .current:hover {
  background-color: #0079bc;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  padding: 18px 0 9px 0;
  font-weight: bold;
}
.markdown h1 {
  font-size: 24px;
}
.markdown h2 {
  font-size: 21px;
}
.markdown h1,
.markdown h2 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #dddddd;
}
.markdown h3 {
  font-size: 19px;
}
.markdown h4 {
  font-size: 18px;
}
.markdown h5 {
  font-size: 16px;
}
.markdown h6 {
  font-size: 14px;
}
.markdown p {
  margin-bottom: 10px;
}
.markdown ul {
  list-style: disc inside;
}
.markdown ol {
  list-style: decimal inside;
}
.markdown code {
  font-family: Consolas, "Courier New", Arial;
}
.markdown p code {
  color: #c7383a;
}
.markdown blockquote {
  padding: 8px 18px;
  border-left: 4px solid #cccccc;
  background-color: #fbfbfb;
}
.markdown blockquote p {
  margin-bottom: 0;
}
.markdown pre code {
  font-size: 12px;
  line-height: 18px !important;
  padding: 8px 18px;
  display: block;
  margin: 12px 0 18px 0;
}
.markdown ol,
.markdown ul {
  margin: 12px 24px;
}
.markdown p img {
  max-width: 99%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.markdown table {
  margin: 12px 0;
  width: 98%;
}
.markdown table th,
.markdown table td {
  border: 1px solid #cccccc;
  padding: 4px 12px;
}
.markdown table thead {
  background: #f6f6f6;
}
::-webkit-scrollbar {
  width: 8px;
  margin-right: 2px;
}
::-webkit-scrollbar-track-piece {
  background-color: #F5F5F5;
  border-left: 1px solid #D2D2D2;
}
::-webkit-scrollbar-thumb {
  background: #9FA09C;
  width: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B7B8AD;
}
.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  margin: 40px auto;
  width: 100%;
}
#header-h1 a {
  display: block;
  color: #000000;
  margin-top: 18px;
}
#header-img {
  border-radius: 60px;
}
#article-list article {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px dashed #dddddd;
}
#article-list article h2 {
  font-size: 30px;
}
#article-list article h2 a {
  display: block;
  max-width: 600px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#article-list article .date {
  font-size: 28px;
  color: #999999;
  width: 100px;
  padding: 12px 0;
}
#article-list article .stat {
  font-size: 20px;
  color: #cccccc;
  padding: 12px 0;
}
#article-list .more {
  padding: 18px;
}
#article-list .more .btn {
  font-size: 18px;
  padding: 16px 24px;
  height: auto;
}
#article-list .page {
  padding-bottom: 30px;
  color: #bbbbbb;
  font-size: 18px;
}
#footer {
  margin: 30px 0;
  color: #bbbbbb;
}
#admin-bar .admin-mask {
  width: 100%;
  height: 100%;
  background-color: #999999;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#admin-sign-in,
#admin-sign-out {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 24px;
  padding: 4px 12px;
  color: #bbbbbb;
  opacity: 0;
  z-index: 20;
}
#admin-sign-in:hover,
#admin-sign-out:hover {
  background-color: #eeeeee;
  color: #666666;
  opacity: 1;
}
#admin-sign-out {
  background-color: #e64346 !important;
  color: #fbfbfb !important;
  opacity: 0.5 !important;
}
#admin-sign-out:hover {
  opacity: 1 !important;
}
#admin-login-panel {
  position: absolute;
  top: 0;
  margin-left: 50%;
  left: -248px;
  z-index: 99;
  opacity: 0;
}
#login-form {
  background-color: #fbfbfb;
  width: 400px;
  margin: 80px auto;
  padding: 24px 48px;
}
#login-form h1 {
  margin-bottom: 12px;
}
#admin-mgr-btn {
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 24px;
  width: 38px;
  padding: 11px 0;
  height: 16px;
  border-radius: 19px;
  opacity: 0.5;
}
#admin-mgr-btn:hover {
  background-color: #dddddd;
  opacity: 1;
}
#admin-mgr-btn span {
  display: block;
  height: 3px;
  background-color: #000000;
  width: 18px;
  margin-left: 10px;
}
#admin-mgr-btn span.mid {
  margin-top: 3px;
  margin-bottom: 3px;
}
#admin-mgr-panel {
  position: fixed;
  top: 0;
  left: -301px;
  height: 100%;
  width: 300px;
  background-color: #fbfbfb;
  border-right: 1px solid #bbbbbb;
}
#admin-mgr-info {
  padding-left: 24px;
  margin-top: 18px;
  border-bottom: 1px solid #dddddd;
}
#admin-mgr-list {
  margin-top: 18px;
}
#admin-mgr-list li {
  height: 60px;
  line-height: 60px;
  padding: 0 24px;
}
#admin-mgr-list li .right {
  margin-top: 16px;
  font-size: 0.9em;
  padding: .1em .4em;
}
#editor-wrapper {
  margin: 0 90px;
  height: 100%;
}
#editor-form {
  margin-top: 12px;
}
#editor-form label[for=title] {
  font-size: 28px;
}
#editor-form #title {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%;
  font-size: 28px;
  background-color: transparent;
}
#editor-rich .left {
  width: 50%;
}
#editor-rich p .lbl-gray {
  font-size: 0.9em;
  opacity: 0.4;
}
#editor-rich textarea {
  width: 100%;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #cccccc;
  resize: none;
  background-color: #FFF;
  box-sizing: border-box;
}
#editor-preview {
  border: none;
  background-color: #FFF;
  box-sizing: border-box;
}
#editor-preview,
#editor-content {
  min-height: 700px;
}
