<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Editor - Fxh.Go</title>
    <link rel="stylesheet" href="{{.Theme.Path}}/css/index.css"/>
    <style>
        #admin-sign-out{display: none}
    </style>
    <script src="{{.Theme.Path}}/js/jquery-2.1.4.min.js"></script>
    <script src="{{.Theme.Path}}/js/jquery.cookie.js"></script>
    <script src="{{.Theme.Path}}/js/index.js"></script>
</head>
<body>
<div id="editor-wrapper">
    <form id="editor-form" class="form" action="/api/articles/create">
        <p class="field">
            <label for="title">Title</label>
            <input class="ipt" id="title" name="title" type="text" placeholder="untitled" required="required"/>
        </p>
        {{template "default/editor.html" .}}
        <div class="field clear">
            <button class="btn btn-blue right">Save</button>
        </div>
    </form>
</div>
{{template "default/admin.html" .}}
</body>
</html>